@import 'styles/variables.scss';

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input::placeholder {
  color: #9b9b9b;
}

.control-label {
  font-size: 12px;
  font-weight: 500;
  color: #575757;
}

.form-control {
  height: 44px;
  width: 285px;
  color: $gray-51;
  font-weight: normal;
  font-size: 12px;
  border: 1px solid $divider-border;
  padding: 0px 4px;
  background-color: #fff;
  border-radius: 4px;
  margin: 10px 0;
  &:last-child {
    margin: 10px 0 30px 0;
  }
}

input::placeholder {
  font-size: 12px
}

