@import 'styles/variables.scss';

.backdropClass {
  background-color: white;
  background-clip: padding-box;
  border-top: 60px solid rgba(255,255,255,.5);
}

.modal-backdrop {
  background: rgba(220, 220, 220, 0.8);

  &.in {
    opacity: 0.8;
  }
}

.modal-content {
  margin-top: $header-height + 1.250em;
  border-radius: 0px;
  box-shadow: 0 2px 34px 0 rgba(0, 0, 0, 0.08);
  border-color: #fee000;
  border-width: 26px 0px 0px 0px;
  border-style: solid;
  text-align: center;
  padding: 35px;
}

.modal-dialog .modal-body, .modal-footer {
  background: white;
  opacity: 0.94;
  padding: 0px;
}

  .modal-close-image {
    background: url('assets/modal/x-light-small@2x.png');
    background-size: 100%;
    width: 24px;
    height: 24px;
    float: right;
    margin: -20px -20px;
    cursor: pointer;
  }

  .disclaimer-container {
    background-color: $gray-238;
    width: 450px;
    font-size: 13px;
    margin: 30px -30%;
    padding: 30px;
    text-align: left;
  }
  .modal-form {
    padding: 0 25%;
  }
  .title-modal {
    font-size: 26px;
    font-weight: bold;
    text-align: center;
  }
  .subtitle-modal {
    font-size: 20px;
    font-weight: lighter;
    padding-top: 40px;
    text-align: center;
  }
  .buttons-container {
    display: inline-flex;
    margin-left: -60px;
  }

  .modal-title {
    color: $white;
    font-size: 46px;
    font-weight: bold;
    text-align: center;
  }

