@import 'styles/variables.scss';

.backdropClass {
  background-color: white;
  background-clip: padding-box;
  border-top: 60px solid rgba(255,255,255,.5);
}

.modal-backdrop {
  background: rgba(220, 220, 220, 0.8);

  &.in {
    opacity: 1;
  }
}

.modal-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 60px);
  width: 0px;
.modal-dialog .modal-body, .modal-footer {
  background: white;
  opacity: 0.94;
  padding: 0px;
}
.confirm-modal-container {
  padding: 40px 90px;
  width: 557px;
  -webkit-box-shadow: 0 2px 34px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 34px 0 rgba(0, 0, 0, 0.08);
  border-top: 26px solid $brand-primary;
  .modal-close-image {
    background: url('assets/modal/x-light-small@2x.png');
    background-size: 100%;
    width: 24px;
    height: 24px;
    float: right;
    margin: -20px -20px;
    cursor: pointer;
  }
  .title-modal {
    font-size: 26px;
    font-weight: bold;
    text-align: center;
  }
  .subtitle-modal {
    font-size: 20px;
    font-weight: lighter;
    padding-top: 40px;
    text-align: center;
  }
  .buttons-container, .button-container {
    padding-top: 20px;
    margin: 0 -15px 0 0px;
  }
  .modal-content {
    background: transparent;
    box-shadow: none;
    border: none;
    padding-top: 20px;
  }

  .modal-title {
    color: $white;
    font-size: 46px;
    font-weight: bold;
    text-align: center;
  }
}
}