.select-custom {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-repeat: no-repeat;
  background-image: url('assets/common/Triangle_down.png');
  background-size: 12px 8px;
  background-position: right center;
  background-origin: content-box;
}
