<html>
<head>
    <meta charset="UTF-8">
    <title>Bienvenido a {{base.storefrontUrl}}</title>
    <style>
        footer {
            text-align: center;
        }
    </style>
</head>
<body>
<h1>Hola {{data.name}},</h1>
<p>
    Para activar a su cuenta, basta con hacer click <a href="{{data.url}}">aquí</a>.
</p>
<h2>¿Para qué sirve?</h2>
<p>
    Tener una cuenta en {{base.storefrontUrl}} permite acelerar el proceso de compra y guardar su domicilio de envío y facturación. Para su próxima compra, solamente deberá seleccionar el método de envío y pago! Simple no?
</p>
<p>
    También podrá visualizar el historial de pedidos y sus detalles.
</p>
<h2>¿Dudas?</h2>
<p>
    Contáctenos por cualquier duda o consulta al número {{base.phoneNumber}} o al siguiente mail :
    <br>
    <a href="mailto:{{base.helpEmailAddress}}">{{base.helpEmailAddress}}</a>

</p>
<hr>
<footer>
    Atte. El equipo de {{base.storefrontUrl}}
    <br>
    <a href="{{base.storefrontUrl}}">{{base.storefrontLabel}}</a>
</footer>
</body>
</html>
