<html>
<head>
    <meta charset="UTF-8">
    <title>Recuperar Password</title>
    <style>
        footer {
            text-align: center;
        }
    </style>
</head>
<body>
<h1>Hola {{data.name}},</h1>
<p>
    Para proceder a restaurar su contraseña, basta con clickear <a href="{{data.url}}">aqui</a>.
</p>
<h2>Dudas?</h2>
<p>
    Contactenos en:
    <br>
    <a href="mailto:{{base.helpEmailAddress}}">{{base.helpEmailAddress}}</a>
</p>
<hr>
<footer>
    Atte. El equipo de {{base.storefrontLabel}}
    <br>
    <a href="{{base.storefrontUrl}}">{{base.storefrontUrl}}</a>
</footer>
</body>
</html>
