@import 'styles/variables.scss';
.add-organizer-modal {
  padding: 55px;
  width: 695px;
  -webkit-box-shadow: 0 2px 34px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 34px 0 rgba(0, 0, 0, 0.08);

  .add-organizer-modal-form, .add-payment-method-modal-form {
    width: 285px;
    margin-left: auto;
    margin-right: auto;

    .disclaimer-container {
      background-color: $gray-238;
      width: 550px;
      font-size: 13px;
      margin: 30px 0 20px -45%;
      padding: 30px;
      text-align: left;
    }
    .add-organizer-botton-container {
      text-align: center;

      .add-organizer-btn {
        padding: 10px 10px;
        font-size: 12px;
        margin-top: 15px;
        height: 40px;
        width: 200px;
        color: $gray-51;
        border-radius: 0px;
        letter-spacing: 2px;
        background-color: $brand-primary;
        border-color: $brand-primary;
        &:hover {
          background-color: $brand-secondary;
          border-color: $brand-secondary;
        }
      }
    }
  }

  .add-payment-method-modal-form {
    width: 285px;
    margin-left: auto;
    margin-right: auto;

    .credit-card-details {
      font-weight: lighter;
      font-size: 12px;

     .col-xs-3 {
        .form-control {
          width: 88px;
          margin: 0px 15px;
        }
      }

      .col-xs-2 {
        .form-control {
          width: 57px;
          margin: 0px 15px;
        }
      }
   }
  }
}
