.add-organizer-modal {
  padding: 55px;
  width: 695px;
  -webkit-box-shadow: 0 2px 34px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 34px 0 rgba(0, 0, 0, 0.08); }
  .add-organizer-modal .add-organizer-modal-form, .add-organizer-modal .add-payment-method-modal-form {
    width: 285px;
    margin-left: auto;
    margin-right: auto; }
    .add-organizer-modal .add-organizer-modal-form .disclaimer-container, .add-organizer-modal .add-payment-method-modal-form .disclaimer-container {
      background-color: #eeeeee;
      width: 550px;
      font-size: 13px;
      margin: 30px 0 20px -45%;
      padding: 30px;
      text-align: left; }
    .add-organizer-modal .add-organizer-modal-form .add-organizer-botton-container, .add-organizer-modal .add-payment-method-modal-form .add-organizer-botton-container {
      text-align: center; }
      .add-organizer-modal .add-organizer-modal-form .add-organizer-botton-container .add-organizer-btn, .add-organizer-modal .add-payment-method-modal-form .add-organizer-botton-container .add-organizer-btn {
        padding: 10px 10px;
        font-size: 12px;
        margin-top: 15px;
        height: 40px;
        width: 200px;
        color: #333333;
        border-radius: 0px;
        letter-spacing: 2px;
        background-color: #fee000;
        border-color: #fee000; }
        .add-organizer-modal .add-organizer-modal-form .add-organizer-botton-container .add-organizer-btn:hover, .add-organizer-modal .add-payment-method-modal-form .add-organizer-botton-container .add-organizer-btn:hover {
          background-color: #fedc00;
          border-color: #fedc00; }
  .add-organizer-modal .add-payment-method-modal-form {
    width: 285px;
    margin-left: auto;
    margin-right: auto; }
    .add-organizer-modal .add-payment-method-modal-form .credit-card-details {
      font-weight: lighter;
      font-size: 12px; }
      .add-organizer-modal .add-payment-method-modal-form .credit-card-details .col-xs-3 .form-control {
        width: 88px;
        margin: 0px 15px; }
      .add-organizer-modal .add-payment-method-modal-form .credit-card-details .col-xs-2 .form-control {
        width: 57px;
        margin: 0px 15px; }
