@import 'styles/variables.scss';
.add-payment-method-modal {
  padding: 55px;
  width: 695px;
  height: 650px;
  -webkit-box-shadow: 0 2px 34px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 34px 0 rgba(0, 0, 0, 0.08);

  .modal-close-image {
    background: url('assets/modal/x-light-small@2x.png');
    background-size: 100%;
    width: 24px;
    height: 24px;
    float: right;
    margin: -20px -20px;
    cursor: pointer;
  }
}
