@import 'styles/variables.scss';

.confirm-modal-container {
  padding: 40px 90px;
  width: 557px;
  -webkit-box-shadow: 0 2px 34px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 34px 0 rgba(0, 0, 0, 0.08);
  border-top: 26px solid $brand-primary;

  .subtitle-modal {
    font-size: 20px;
    font-weight: lighter;
    padding-top: 40px;
    text-align: center;
  }

  .buttons-container, .button-container {
    padding-top: 20px;
    margin: 0 -15px 0 0px;

    .btn {
      padding: 10px 10px;
      margin: 5px;
      font-size: 10px;
      margin-top: 15px;
      color: $gray-51;
      height: 54px;
      font-weight: 700;
      width: 180px;
      border-radius: 0px;
      letter-spacing: 2px
    }

    .yellow-btn-square {
      background-color: $brand-primary;
      border-color: $brand-primary;
      &:hover {
        background-color: $brand-secondary;
        border-color: $brand-secondary;
      }
    }

    .gray-btn-square {
      background-color: $btn-cancel-color;
      border-color: $btn-cancel-color;
    }
  }
  .button-container {
    margin: 20px 0px 0 0px;
    text-align: center;
  }
}
