@import "styles/variables.scss";
@import "styles/mediaQueryMixins.scss";
@import "styles/overrides/select.scss";
@import "styles/overrides/input.scss";
@import "styles/overrides/button.scss";
@import "styles/overrides/modal.scss";

@import "components/footer/Footer.scss";
@import "components/FourOFour/FourOFour.scss";
@import "components/header/Header.scss";
@import "components/Modal/ConfirmWhateverModal.scss";
@import "components/Header/Header.scss";
@import "components/input/ErrorInput.scss";
@import "components/CreditCard/CreditCard.scss";
@import "components/forms/signup/SignupForm.scss";
@import "components/forms/login/LoginForm.scss";

@import "containers/login/LoginPage.scss";
@import "containers/signup/SignupPage.scss";
@import "containers/home/Home.scss";
@import "containers/app/App.scss";
@import "containers/admin/Admin/AdminPage.scss";

@font-face {
  font-family: HelveticaNeue;
  src: url("styles/fonts/HelveticaNeueLTStd-Th.otf") format("opentype");
  font-weight: 200;
}

@font-face {
  font-family: HelveticaNeue;
  src: url("styles/fonts/HelveticaNeueLTStd-Md.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: HelveticaNeue;
  src: url("styles/fonts/HelveticaNeueLTStd-Bd.otf") format("opentype");
  font-weight: 700;
}
